// $header-color: #0c0032;
// $about-color: #190061;
$main-color4: #f9faff;
$main-color3: #00d5d4;
$main-color2: #222A3C;
$main-color: black;
$btn-color: #D83F87;
$txt-color: white;
// $txt-color: #66FCF1