// @-webkit-keyframes mercury {
// 	from { 	-webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
// }

// @-moz-keyframes mercury {
// 	from { 	-moz-transform: rotate(0deg) translateX(40px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
// }

// @-o-keyframes mercury {
// 	from { 	-o-transform: rotate(0deg) translateX(40px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
// }

// @keyframes mercury {
// 	from { 	transform: rotate(0deg) translateX(40px);  transform-origin: 50% 50%;}
// 	to   {  transform: rotate(360deg) translateX(40px);  transform-origin: 50% 50%;}
// }

// @-webkit-keyframes venus {
// 	from { 	-webkit-transform: rotate(0deg) translateX(80px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(80px) rotate(-360deg); }
// }

// @-moz-keyframes venus {
// 	from { 	-moz-transform: rotate(0deg) translateX(80px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(80px) rotate(-360deg); }
// }

// @-o-keyframes venus {
// 	from { 	-o-transform: rotate(0deg) translateX(80px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(80px) rotate(-360deg); }
// }

// @keyframes venus {
// 	from { 	transform: rotate(0deg) translateX(80px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(80px) rotate(-360deg); }
// }


// @-webkit-keyframes earth {
// 	from { 	-webkit-transform: rotate(0deg) translateX(120px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(120px) rotate(-360deg); }
// }

// @-moz-keyframes earth {
// 	from { 	-moz-transform: rotate(0deg) translateX(120px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(120px) rotate(-360deg); }
// }

// @-o-keyframes earth {
// 	from { 	-o-transform: rotate(0deg) translateX(120px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(120px) rotate(-360deg); }
// }

// @keyframes earth {
// 	from { 	transform: rotate(0deg) translateX(120px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(120px) rotate(-360deg); }
// }

// @-webkit-keyframes moon {
// 	from { 	-webkit-transform: rotate(0deg) translateX(60px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(60px) rotate(-360deg); }
// }

// @-moz-keyframes moon {
// 	from { 	-moz-transform: rotate(0deg) translateX(60px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(60px) rotate(-360deg); }
// }

// @-o-keyframes moon {
// 	from { 	-o-transform: rotate(0deg) translateX(60px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(60px) rotate(-360deg); }
// }

// @keyframes moon {
// 	from { 	transform: rotate(0deg) translateX(60px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(60px) rotate(-360deg); }
// }


// @-webkit-keyframes mars {
// 	from { 	-webkit-transform: rotate(0deg) translateX(160px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(160px) rotate(-360deg); }
// }

// @-moz-keyframes mars {
// 	from { 	-moz-transform: rotate(0deg) translateX(160px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(160px) rotate(-360deg); }
// }

// @-o-keyframes mars {
// 	from { 	-o-transform: rotate(0deg) translateX(160px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(160px) rotate(-360deg); }
// }

// @keyframes mars {
// 	from { 	transform: rotate(0deg) translateX(160px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(160px) rotate(-360deg); }
// }

// @-webkit-keyframes jupiter {
// 	from { 	-webkit-transform: rotate(0deg) translateX(200px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
// }

// @-moz-keyframes jupiter {
// 	from { 	-moz-transform: rotate(0deg) translateX(200px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
// }

// @-o-keyframes jupiter {
// 	from { 	-o-transform: rotate(0deg) translateX(200px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
// }

// @keyframes jupiter {
// 	from { 	transform: rotate(0deg) translateX(200px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(200px) rotate(-360deg); }
// }

// @-webkit-keyframes saturn {
// 	from { 	-webkit-transform: rotate(0deg) translateX(240px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(240px) rotate(-360deg); }
// }

// @-moz-keyframes saturn {
// 	from { 	-moz-transform: rotate(0deg) translateX(240px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(240px) rotate(-360deg); }
// }

// @-o-keyframes saturn {
// 	from { 	-o-transform: rotate(0deg) translateX(240px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(240px) rotate(-360deg); }
// }

// @keyframes saturn {
// 	from { 	transform: rotate(0deg) translateX(240px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(240px) rotate(-360deg); }
// }

// @-webkit-keyframes uranus {
// 	from { 	-webkit-transform: rotate(0deg) translateX(280px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
// }

// @-moz-keyframes uranus {
// 	from { 	-moz-transform: rotate(0deg) translateX(280px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
// }

// @-o-keyframes uranus {
// 	from { 	-o-transform: rotate(0deg) translateX(280px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
// }

// @keyframes neptun {
// 	from { 	transform: rotate(0deg) translateX(320px) rotate(0deg); transform-origin: 50% 50%; }
// 	to   {  transform: rotate(360deg) translateX(320px) rotate(-360deg); transform-origin: 50% 50%; }
// }

// @-webkit-keyframes neptun {
// 	from { 	-webkit-transform: rotate(0deg) translateX(320px) rotate(0deg); }
// 	to   {  -webkit-transform: rotate(360deg) translateX(320px) rotate(-360deg); }
// }

// @-moz-keyframes neptun {
// 	from { 	-moz-transform: rotate(0deg) translateX(320px) rotate(0deg); }
// 	to   {  -moz-transform: rotate(360deg) translateX(320px) rotate(-360deg); }
// }

// @-o-keyframes neptun {
// 	from { 	-o-transform: rotate(0deg) translateX(320px) rotate(0deg); }
// 	to   {  -o-transform: rotate(360deg) translateX(320px) rotate(-360deg); }
// }

// @keyframes neptun {
// 	from { 	transform: rotate(0deg) translateX(320px) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(320px) rotate(-360deg); }
// }