//nav keyframes 

@keyframes navSpacingIn{
    from {color: $txt-color;}
    to {color: $btn-color;}
}

@keyframes navSpacingOut{
    from {color: $btn-color;}
    to {color: $txt-color;}
}


@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}


@keyframes icons-animation {
    0% {
        font-size: 30px;
    }

    25% {
        font-size: 31px;
    }

    50% {
        font-size: 32px;
    }

    75% {
        font-size: 31px;
    }

    100% {
        font-size: 30px;
    }
}


@keyframes flying-box {
    0% {
        bottom: -200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes flying-box-mobile {
    0% {
        left: -200px;
    }

    100% {
        left: 60px;
    }
}

@keyframes flying-box-mobile-invisible {
    0% {
        left: 60px;
    }

    100% {
        left: -200px;
    }
}

@keyframes artVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes artInvisible {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes messageSentIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    };
}

@keyframes messageSentOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes btnAnimationOut {
    0% {
        // margin-bottom: 2px;
        -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
        -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
        box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);

    }

    100% {
        // margin-bottom: 0;
        -webkit-box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);
        -moz-box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);
        box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);

    }
}

@keyframes btnAnimationIn {
    0% {
        -webkit-box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);
        -moz-box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);
        box-shadow: 0px 0px 0px -10px rgba(61,77,112,0.88);
        margin-bottom: 0;
    }

    100% {
        -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
        -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
        box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
        margin-bottom: 2px;
    }
}