//nav keyframes 

@keyframes navSpacingIn{
    from {color: $txt-color;}
    to {color: $btn-color;}
}

@keyframes navSpacingOut{
    from {color: $btn-color;}
    to {color: $txt-color;}
}


@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}
