* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

.container {
    width: 100%;
    max-width: 1280px;
}