* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: $main-color;
    background-attachment: fixed;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 1280px) {
    .container--section {
        width: 100%;
        max-width: 1024px;
    }

    .container {
        width: 100%;
        max-width: 1440px;
    }
}

@media (min-width: 1800px) {
    .container--section {
        width: 100%;
        max-width: 1470px;
    }
    
    .container {
        width: 100%;
        max-width: 1920px;
    }
}



