@media screen and (max-width: 680px) {
    .about__section.mobile {
        height: auto;

        .about__section--position {
            flex-direction: column;
            align-items: center;

            .section__sides--left {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .name {
                    width: 90%;
                    border-radius: 10px;
                    text-align: center;
                }

                .photo--box {
                    width: 90%;
                    border-radius: 10px;
                    position: static;
                    display: flex;
                    justify-content: center;

                    .photo {
                        position: static;
                        transform: translateY(35px);;
                    }
                }
            }

            .section__sides--right {
                width: 80%;
                padding-top: 50px;

                .txt--reducer {
                    padding: 0;
                }
            }
        }
        .stack {
            margin-bottom: 50px;
        }
    }
}