@media screen and (max-width: 680px) {
    .contact__section.mobile {
        width: 100%;
        height: auto;

        .top--box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            
            .left-box {
                width: 90%;
                height: 350px;
                border-radius: 10px;
                margin-bottom: 40px;

                .map--box {
                    width: 50%;
                    border-radius: 10px 0 0 10px;
                }

                .contact-details {
                    width: 50%;
                    padding: 10px;

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        font-size: 18px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    .social-box {

                        a {
                            width: 25px;
                            height: 25px;
                        }
                        
                    }
                }
            }

            .form-box {
                width: 90%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 20px;

                h3 {
                    font-size: 16px;
                }

                form {
                    width: 100%;
        
                    .input-box, .button-box, .errors-box {
                        width: 95%;
                        height: 2.5rem;
                    }

                    .textarea-box {
                        width: 95%;
                        height: 8rem;
                    }

                    input, textarea, button {
                        width: 95%;
                        height: 2.4rem;
                    }

                    textarea {
                        width: 95%;
                        height: 8rem;
                    }

                    .errors-box {
                        margin: 0 0 8px 0;
                    }

                    .wrongName, .wrongEmail, .wrongMessage, .emptyForm, .messageInfo {
                        font-size: 8px;
                    }

                    .messageInfo {
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }
            }
        }
        .flying-social-box {
            display: none;
        }
    }



}