@media screen and (max-width: 1024px) and (orientation: portrait) {
    .contact__section.mobile {
        width: 100%;
        height: auto;

        .top--box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            
            .left-box {
                width: 90%;
                height: 350px;
                border-radius: 10px;
                margin-bottom: 40px;

                .map--box {
                    width: 40%;
                    border-radius: 10px 0 0 10px;
                }

                .contact-details {
                    width: 60%;
                    padding: 15px;

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        font-size: 18px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    .social-box {

                        a {
                            width: 20px;
                            height: 20px;
                        }

                        svg {
                            font-size: 28px;
                        }
                        
                    }
                }
            }

            .form-box {
                width: 90%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 40px;

                h3 {
                    font-size: 16px;
                }

                form {
                    width: 100%;
        
                    .input-box, .button-box, .errors-box {
                        width: 95%;
                        height: 2.5rem;
                    }

                    .textarea-box {
                        width: 95%;
                        height: 8rem;
                    }

                    input, textarea, button {
                        width: 95%;
                        height: 2.4rem;
                    }

                    textarea {
                        width: 95%;
                        height: 8rem;
                    }

                    .errors-box {
                        margin: 0 0 8px 0;
                        min-height: 60px;
                    }

                    .wrongName, .wrongEmail, .wrongMessage, .emptyForm, .messageInfo {
                        font-size: 8px;
                    }

                    .messageInfo {
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }
            }
        }

        .footer {
            height: auto;

            &__top--box {
                padding-top: 20px;
                justify-content: space-evenly;

                h4 {
                    font-size: 16px;
                }

                .reducer {
                    nav, .social, .materials {
                        text-align: center;
                        ul {
                            font-size: 14px;
                        }
                    }

                    .materials {
                        img, svg {
                            display: none;
                        }
                    }
                }
            }
            
            &__bottom--box {
                font-size: 12px;
                padding: 25px 5px 15px 5px;
            }
        }
        .flying-social-box {
            display: none;
        }
    }



}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .contact__section.mobile {
        width: 100%;
        height: auto;

        .top--box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            
            .left-box {
                width: 90%;
                height: 350px;
                border-radius: 10px;
                margin-bottom: 40px;

                .map--box {
                    width: 50%;
                    border-radius: 10px 0 0 10px;
                }

                .contact-details {
                    width: 50%;
                    padding: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1195px) and (orientation: landscape) {
    .contact__section.mobile {
        width: 100%;
        height: auto;

        .top--box {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            
            .left-box {
                width: 45%;
                height: 400px;
                border-radius: 0 10px 10px 0;
                margin: 50px 0 50px 0;

                .map--box {
                    width: 50%;
                    border-radius: 0 10px 10px 0;
                }

                .contact-details {
                    width: 60%;
                    padding: 15px;

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        font-size: 18px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    .social-box {

                        a {
                            width: 20px;
                            height: 20px;
                        }

                        svg {
                            font-size: 28px;
                        }
                        
                    }
                }
            }

            .form-box {
                width: 45%;
                height: 400px;
                border-radius: 10px 0 0 10px;
                margin: 50px 0 50px 0;
                

                h3 {
                    font-size: 16px;
                }

                form {
                    width: 100%;
        
                    .input-box, .button-box {
                        width: 95%;
                        height: 2.5rem;
                    }

                    .errors-box {
                        width: 95%;
                        height: 2rem;
                    }

                    .textarea-box {
                        width: 95%;
                        height: 8rem;
                    }

                    input, textarea, button {
                        width: 95%;
                        height: 2.4rem;
                    }

                    textarea {
                        width: 95%;
                        height: 7.5rem;
                    }

                    .errors-box {
                        margin: 0 0 8px 0;
                        min-height: 60px;
                    }

                    .wrongName, .wrongEmail, .wrongMessage, .emptyForm, .messageInfo {
                        font-size: 8px;
                    }

                    .messageInfo {
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }
            }
        }

        .footer {
            height: auto;

            &__top--box {
                padding-top: 20px;
                justify-content: space-evenly;

                h4 {
                    font-size: 16px;
                }

                .reducer {
                    nav, .social, .materials {
                        text-align: center;
                        ul {
                            font-size: 14px;
                        }
                    }

                    .materials {
                        img, svg {
                            display: none;
                        }
                    }
                }
            }
            
            &__bottom--box {
                font-size: 12px;
                padding: 25px 5px 15px 5px;
            }
        }
        .flying-social-box {
            display: none;
        }
    }
}