@media (max-width: 420px) {
    div .content__section {
        width: 100%;
        height: auto;
        margin-bottom: 30px;

        .decoration {
            width: 70%;
        }

        &--position {
            padding: 20px;
        }

        h3 {
            font-size: 1.5rem;
            margin: 0;
        }

        .projects-main-box {
            height: auto;
            justify-content: center;
            align-items: flex-start;
            padding-top: 20px;

            .project-box {
                height: auto;
                width: 80%;
                margin: 10px 0 20px 0;
            }

            .project-box:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

        .show-art {
            flex-wrap: wrap;

            .art-box {
                width: 80%;
                height: auto;
                margin: 20px;
            }

            .img1, .img2, .img3 {
                margin-top: 70px;
            }

            .art-box:after {
                content: '';
                display: block;
                padding-bottom: 100%;

            }

            .video:after {
                padding-bottom: 0;
                margin-bottom: 70px;
            }
        }
        .close-box {
            top: 20px;
            right: 20px;
        }

    }
}