@media (max-width: 1024px) {
    header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        text-shadow: 0px 0px 15px black;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.9)
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;

        &--logo {
            color: $txt-color;
            font-size: 20px;
            font-weight: 600;
            padding: 10px;
        }

        &--navigation {
            display: none;
        }
    }
}
