@media screen and (max-width: 680px) {
    .hello__section.mobile {
        width: 100%;
        height: 100vh;
        background-size: cover;
        align-items: flex-start;
        padding-top: 80px;

        .name {
            font-size: 2.75rem;
        }

        .role {
            font-size: 1.2rem;
        }
    }
}

