@media screen and (max-width: 1024px) and (orientation: portrait) {
    .hello__section.mobile {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        align-items: flex-start;
        padding-top: 100px;

        .name {
            font-size: 4.5rem;
            padding: 20px;
            padding-bottom: 0;
        }

        .role {
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 1195px) and (orientation: landscape) {
    .hello__section.mobile {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        align-items: center;
        padding-top: 0;

        .name {
            font-size: 4.3rem;
            padding: 20px;
            padding-bottom: 0;
        }

        .role {
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .hello__section.mobile {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        align-items: flex-start;
        padding-top: 80px;

        .name {
            font-size: 2.3rem;
        }

        .role {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
    .hello__section.mobile {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        align-items: center;
        padding-top: 0;

        .name {
            font-size: 2.5rem;
        }

        .role {
            font-size: 1.2rem;
        }
    }
}

