.about__section {
    width: 100%;
    height: 100vh;
    background-color: #f9faff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // &--position {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: transparent;
    // }

    .title-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    h3 {
        color: $main-color;
        text-shadow: none;
        margin: 10px;
        font-size: 28px;
    }

    span {
        width: 50px;
        border-bottom: 3px solid $btn-color;
    }

    &--position {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .section__sides--left {
            width: 30%;
            height: 100%;

            .name {
                background: $btn-color;
                font-size: 28px;
                color: $txt-color;
                font-weight: 600;
                width: 100%;
                padding: 20px;
                text-align: right;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .photo--box {
                margin-top: 20px;
                width: 100%;
                height: 300px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $main-color2;
                position: relative;

                .photo {
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                    background-position: center;
                    background-size: cover;
                    background-image: url(/src/scss/utils/assets/photo.png);
                    position: absolute;
                    right: -50px;
                    top: 50px;
                }
            }
        }

        .section__sides--right {
            width: 65%;

            .txt--reducer {
                padding-left: 150px;

                h4 {
                    font-size: 22px;
                    color: $main-color2;
                    margin: 20px 0 20px 0;
                }

                .about--txt {
                    font-size: 16px;
                    font-weight: 100;
                    color: $main-color;
                    max-width: 800px;
                    margin: 10px 0 30px 0;
                }
            }
        }
    }



    // &--right {
    //     width: 65%;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;

    //     .first-box {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: flex-start;
    //     }

    //     .second-box {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: flex-start;
    //     }

    //     h3 {
    //         font-size: 2rem;
    //         color: $txt-color;
    //         display: inline;
    //         text-shadow: 0px 0px 15px black;
    //     }

    //     .decoration {
    //         width: 350px;
    //         border-top: 2px solid $btn-color;
    //         border-bottom: 2px solid $btn-color;
    //         border-radius: 3px;
    //     }

    //     p {
    //         margin-top: 10px;
    //         color: $txt-color;
    //         font-size: 20px;
    //         font-weight: 600;
    //     }
    // }

    // &--box {
    //     width: 100%;
    //     height: 50%;
    // }
}