.about__section {
    width: 100%;
    height: 100vh;
    background-color: #f9faff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .top--box {
        width: 100%;
    }

    .bottom--box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title--box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 20px 0;
        

        h3 {
            color: $main-color;
            text-shadow: none;
            margin: 10px;
            font-size: 28px;
        }
    }

    .subtitle--box {
        width: 100%;
        display: flex;
        font-size: 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 20px 0;

        h3 {
            color: $main-color;
            text-shadow: none;
            margin: 10px;
            font-size: 28px;
        }
    }



    span {
        width: 50px;
        border-bottom: 3px solid $btn-color;
    }

    .stack {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .stack__icon {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            .ico {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 70px;
                height: 70px;
                filter: grayscale(100%);
            }

            .ico:hover {
                width: 75px;
                height: 75px;
            }

            .icon1 {
                background-image: url(/src/scss/utils/assets/icons8-html-5.svg);
            }
            .icon2 {
                background-image: url(/src/scss/utils/assets/icons8-css3.svg);
            }
            .icon3 {
                background-image: url(/src/scss/utils/assets/icons8-sass-avatar.svg);
            }
            .icon4 {
                background-image: url(/src/scss/utils/assets/icons8-javascript.svg);
            }
            .icon5 {
                background-image: url(/src/scss/utils/assets/icons8-react.svg);
            }
            .icon6 {
                background-image: url(/src/scss/utils/assets/icons8-redux.svg);
            }
            .icon7 {
                background-image: url(/src/scss/utils/assets/icons8-firebase.svg);;
            }
            .icon8 {
                background-image: url(/src/scss/utils/assets/icons8-procreate.svg);
            }
            .icon9 {
                background-image: url(/src/scss/utils/assets/icons8-ubuntu-50.png);
            }
            .icon10 {
                background-image: url(/src/scss/utils/assets/icons8-windows-10.svg);
            }
            .icon11 {
                background-image: url(/src/scss/utils/assets/icons8-apple-logo.svg);
            }
        }


    }

    &--position {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;

        .section__sides--left {
            width: 30%;
            height: 100%;

            .name {
                background: $btn-color;
                font-size: 28px;
                color: $txt-color;
                font-weight: 600;
                width: 100%;
                padding: 20px;
                text-align: right;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
            }

            .photo--box {
                margin-top: 20px;
                width: 100%;
                height: 300px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $main-color2;
                position: relative;
                -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);

                .photo {
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                    background-position: center;
                    background-size: cover;
                    background-image: url(/src/scss/utils/assets/photo.png);
                    position: absolute;
                    right: -50px;
                    top: 50px;
                    -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                    -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                    box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                }
            }
        }

        .section__sides--right {
            width: 65%;

            .txt--reducer {
                padding-left: 150px;

                h4 {
                    font-size: 22px;
                    color: $main-color2;
                    margin: 20px 0 20px 0;
                }

                .about--txt {
                    font-size: 16px;
                    font-weight: 100;
                    color: $main-color;
                    max-width: 800px;
                    margin: 10px 0 30px 0;
                }
            }
        }
    }
}