.contact__section {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top--box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70%;
    }

    .footer {
        width: 100%;
        height: 30%;
        background-color: $main-color;

    }
}

    .left-box {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    .contact-details {
        width: auto;
        height: auto;
        background-color: $main-color4;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h3 {
            margin-bottom: 20px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3:nth-of-type(2) {
            margin-top: 20px;
        }

        span {
            color: $main-color3;
            font-size: 22px;
            font-weight: 800;
        }

        h4 {
            text-align: left;
            color: $main-color2;
        }

        .social-box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            a {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }
            svg {
                font-size: 30px;
                color: $main-color2;
                
                cursor: pointer;
            }

            .fa-linkedin {
                animation-name: icons-animation;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-delay: 1.5s;
            }
        
            .fa-github-square {
                animation-name: icons-animation;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-delay: 1.6s;
            }
        
            .fa-instagram-square {
                animation-name: icons-animation;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-delay: 1.7s;
            }
        
            .fa-facebook-square {
                animation-name: icons-animation;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-delay: 1.8s;
            }
        
            .fa-youtube-square {
                animation-name: icons-animation;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-delay: 1.9s;
            }

            svg:hover {
                font-size: 32px;
            }
        }

    }

    .form-box {
        width: 50%;
        height: auto;
        display: flex;
        background-color: $main-color2;
        border-radius: 10px 0 0 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .headers-box {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0 10px 0;
            color: $main-color3;

            h3 {
                margin: 0;
            }
        }
    } 

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $btn-color;

        .input-box, .button-box, .errors-box {
            width: 30.3rem;
            height: 2.7rem;
            margin: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .errors-box {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 60px;
        }

        .textarea-box {
            width: 30.3rem;
            height: 10rem;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input, textarea, button {
            width: 30rem;
            height: 2.5rem;
            border-radius: 3px;
            border: none;
            background: $txt-color;
            padding: 10px;
            font-size: 1.2rem;
            color: $btn-color;
            font-weight: 600;
            outline: none;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
        }

        ::-webkit-input, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
            color: $btn-color;
        }

        input:focus, input:hover  {
            width: 30.1rem;
            height: 2.6rem;
            font-size: 1.25rem;
        }

        textarea:focus, textarea:hover {
            width: 30.1rem;
            height: 9.6rem;
            font-size: 1.25rem;
        }

        textarea {
            resize: none;
            height: 9.5rem;
            
        }

        button {
            background-color: $btn-color;
            color: $txt-color;
            font-weight: 600;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
        }

        button:active {
            height: 2.6rem;
        }

        .wrongName, .wrongEmail, .wrongMessage, .emptyForm, .messageInfo {
            color: $btn-color;
            font-size: 12px;
            font-weight: 600;
            margin-top: 2px;
            padding-left: 10px;
            display: none;
        }

        .messageInfo {
            font-size: 16px;
            width: 100%;
            text-align: center;
            animation-name: messageSentIn;
            animation-iteration-count: 1;
            animation-duration: 1s;
            opacity: 1;
        }

        .hideMessageInfo {
            animation-name: messageSentOut;
            animation-iteration-count: 1;
            animation-duration: 1s;
            opacity: 0;
        }


    }

.flying-social-box {
    padding: 10px 20px 10px 20px;
    position: fixed;
    bottom: 0px;
    left: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background: rgb(34,42,60);
    background: linear-gradient(180deg, rgba(34,42,60,0.29315476190476186) 0%, rgba(216,63,135,1) 100%);
    animation-name: flying-box;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

    a {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    svg {
        font-size: 30px;
        color: $txt-color;
        cursor: pointer;
    }

    .fa-linkedin {
        animation-name: icons-animation;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 1.5s;
    }

    .fa-github-square {
        animation-name: icons-animation;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 1.6s;
    }

    .fa-instagram-square {
        animation-name: icons-animation;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 1.7s;
    }

    .fa-facebook-square {
        animation-name: icons-animation;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 1.8s;
    }

    .fa-youtube-square {
        animation-name: icons-animation;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 1.9s;
    }

    svg:hover {
        font-size: 32px;
    }
}