@media (min-width: 1020px) {
    header {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        flex-direction: column;    
        position: fixed;
        top: 0;
        transition: top 0.3s;
        text-shadow: 0px 0px 15px black;
        z-index: 999;
    
        .header__nav {
            width: 100%;
            height: auto;
            background: transparent;
            display: flex;
            justify-content: space-between;
            letter-spacing: 1px;
            
            .hamburger {
                display: none;
            }
    
            &--logo {
                color: $txt-color;
                font-size: 18px;
                font-weight: 600;
                padding: 10px;
            }
    
            &--navigation {
                padding: 10px;
    
                ul {
                    display: flex;
                    list-style: none;
                }
                
                a {
                    color: $txt-color;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 600;
                    margin: 10px;
                    cursor: pointer;
                    user-select: none;
                    animation-name: navSpacingOut;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                }
    
                a:hover {
                    color: $btn-color;
                    animation-name: navSpacingIn;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                }
            }
        }    
    }
}