@media only screen and (min-width: 1024px) {
    .hello__section {
        width: 100%;
        height: 100vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: url(/src/scss/utils/assets/earth.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
        &__position {
            display: flex;
            justify-content: flex-start;
        }
        &--hello {
            color: $txt-color;
            user-select: none;
            text-shadow: 0px 0px 15px black;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .main--txt {
                width: 100%;
            }
            .name {
                width: 100%;
                font-size: 4rem;
                font-weight: 600;
                line-height: 1.1;
                display: inline-block;
                text-align: center;
            }
            .role {
                font-size: 2.16rem;
                font-weight: 600;
                letter-spacing: 2px;
                margin-bottom: 5px;
                color: $btn-color;
                width: 100%;
                text-align: center;
            }
        }
    }
    
}

@media only screen and (min-width: 1800px) {
    .hello__section--hello {
        .name {
            font-size: 5.5rem
        }
        .role {
            font-size: 3.5rem;
        }
    }
}