.hello__section {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/src/scss/utils/assets/earth.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    


    &__position {
        display: flex;
        justify-content: flex-start;
    }

    &--hello {
        color: $txt-color;
        user-select: none;
        text-shadow: 0px 0px 15px black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main--txt {
            width: 100%;
        }


        .name {
            width: 100%;
            font-size: 5rem;
            font-weight: 600;
            line-height: 1.1;
            display: inline-block;
            text-align: center;
        }

        .role {
            font-size: 2.16rem;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 5px;
            color: $btn-color;
            width: 100%;
            text-align: center;
        }

        .tech {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            width: 100%;


            div {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
            }

            svg {
                font-size: 30px;
                filter: drop-shadow(0px 0px 10px black)
            }

            svg:hover {
                font-size: 32px;

            }

            .redux__container {
                width: 35px;
                display: flex;
                justify-content: center;
            }

            .redux {
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }

            .firebase__container {
                width: 35px;
                display: flex;
                justify-content: center;
                padding-bottom: 2px;
            }

            .firebase {
                width: 1em;
                height: 1em;
                color: white;
            }

            .firebase:hover {
                width: 1.05em;
                height: 1.05em;
            }

            .archLeft {
                margin-right: 0;
                width: 10px;
                display: flex;
                justify-content: flex-end;

                svg {
                    font-size: 20px;
                }
            }

            .slash {
                width: 1px;
                height: 20px;
                border-left: 3px solid $txt-color;
                border-right: 1px solid $txt-color;
                border-radius: 20%;
                transform: rotate(30deg);
                margin-right: 5px;
            }

            .archRight {
                font-size: 20px;
                margin-right: 0;
                display: flex;
                justify-content: flex-start;

                svg {
                    font-size: 20px;
                }
            }

        }
    }

    // .main--img {
    //     width: 50%;
    //     height: 30rem;
    //     background-image: url(/assets/IMG_0090.PNG);
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: bottom right;
    //     margin-bottom: 7px;
    //     filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7))
    // }

}
