.hello__section {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &__position {
        display: flex;
        justify-content: flex-start;
    }

    &--hello {
        color: $txt-color;
        user-select: none;
        text-shadow: 0px 0px 15px black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main--txt {
            width: 50%;
        }


        .name {
            max-width: 400px;
            font-size: 7rem;
            font-weight: 600;
            line-height: 1.1;
            display: inline-block;
        }

        .role {
            font-size: 2.16rem;
            font-weight: 600;
            letter-spacing: 2px;
            margin-left: 8px;
            margin-bottom: 5px;
            color: $btn-color;
        }

        .tech {

            display: flex;
            align-items: center;
            margin-left: 8px;
            width: 45rem;


            div {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
            }

            svg {
                font-size: 30px;
                filter: drop-shadow(0px 0px 10px black)
            }

            svg:hover {
                font-size: 32px;

            }

            .redux__container {
                width: 35px;
                display: flex;
                justify-content: center;
            }

            .redux {
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }

            .firebase__container {
                width: 35px;
                display: flex;
                justify-content: center;
                padding-bottom: 2px;
            }

            .firebase {
                width: 1em;
                height: 1em;
                color: white;
            }

            .firebase:hover {
                width: 1.05em;
                height: 1.05em;
            }

            .archLeft {
                margin-right: 0;
                width: 10px;
                display: flex;
                justify-content: flex-end;

                svg {
                    font-size: 20px;
                }
            }

            .slash {
                width: 1px;
                height: 20px;
                border-left: 3px solid $txt-color;
                border-right: 1px solid $txt-color;
                border-radius: 20%;
                transform: rotate(30deg);
                margin-right: 5px;
            }

            .archRight {
                font-size: 20px;
                margin-right: 0;
                display: flex;
                justify-content: flex-start;

                svg {
                    font-size: 20px;
                }
            }

        }
    }

    .main--img {
        width: 50%;
        height: 30rem;
        background-image: url(/assets/IMG_0090.PNG);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        margin-bottom: 7px;
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7))
    }

}

.about__section {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;

    &--position {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    &--left {
        width: 50%;
        height: 100%;
    }

    &--right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .first-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .second-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        h3 {
            font-size: 2rem;
            color: $txt-color;
            display: inline;
            text-shadow: 0px 0px 15px black;
        }

        .decoration {
            width: 350px;
            border-top: 2px solid $btn-color;
            border-bottom: 2px solid $btn-color;
            border-radius: 3px;
        }

        p {
            margin-top: 10px;
            color: $txt-color;
            font-size: 20px;
            font-weight: 600;
        }
    }

    &--box {
        width: 100%;
        height: 50%;
    }
}

.content__section {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;

    .decoration {
        width: 350px;
        border-top: 2px solid $btn-color;
        border-bottom: 2px solid $btn-color;
        border-radius: 3px;
    }

    &--position {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: transparent;
    }

    h3 {
        font-size: 2rem;
        color: $txt-color;
        margin-top: 60px;
        text-shadow: 0px 0px 15px black;
        
    }

    .projects-main-box {
        width: 100%;
        height: 70%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .project-box {
            width: 350px;
            height: 350px;
            margin: 10px;
            border-radius: 3px;
            background: $txt-color;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
        }

        .draw1 {
            height: 350px;
            background-image: url(/src/scss/assets/IMG_0032.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .draw2 {
            height: 350px;
            background-image: url(/src/scss/assets/IMG_0098.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .draw3 {
            height: 350px;
            background-image: url(/src/scss/assets/IMG_0036.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    .show-art {
        width: 100%;
        height: 100vh;
        background: rgba(34, 42, 60, 0.9);
        position: fixed;
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: artVisible;
        animation-duration: 1s;
        animation-iteration-count: 1;


        .art-box {
            width: 40%;
            height: 80%;
            margin: 60px;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
        }

        .img1 {
            background-image: url(/src/scss/assets/IMG_0032.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);

        }

        .img2 {
            background-image: url(/src/scss/assets/IMG_0098.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
        }

        .img3 {
            background-image: url(/src/scss/assets/IMG_0036.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.7);
        }
    }
    .close-box {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 0;
        right: 50px;
        top: 50px;
        z-index: 1000;
        cursor: pointer;
        display: none;
        animation-name: artVisible;
        animation-duration: 1s;
        animation-iteration-count: 1;

        .line1 {
            display: block;
            width: 30px;
            height: 0px;
            border-top: 2px solid $txt-color;
            border-bottom: 2px solid $txt-color;
            border-radius: 3px;
            background: $txt-color;
            position: absolute;
            top: 10px;
            left: 0px;
            transform: rotate(45deg);
        }

        .line2 {
            display: block;
            width: 30px;
            height: 0px;
            border-top: 2px solid $txt-color;
            border-bottom: 2px solid $txt-color;
            border-radius: 3px;
            background: $txt-color;
            position: absolute;
            top: 10px;
            left: 0;

            transform: rotate(-45deg);

        }

        .click-box {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 99;
        }
    }

    .art-invisible {
        animation-name: artInvisible;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
}