@media only screen and (min-width: 1024px) {
    .services__section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    
        &--position {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .title-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        h3 {
            color: $main-color;
            text-shadow: none;
            margin: 10px;
            font-size: 28px;
        }
        span {
            width: 50px;
            border-bottom: 3px solid $btn-color;
        }
        .services-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0;
            margin-bottom: 20px;
        }
        .service {
            max-width: 32%;
            height: 440px;
            border-radius: 3px;
            background-color: $main-color4;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            -moz-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
    
            .icon1 {
                width: 100%;
                height: 250px;
                background-position: 8px;
                background-size: cover;
                background-image: url(/src/scss/utils/assets/tablet.PNG);
                margin: 15px 0 15px 0;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;          /* Firefox */
                image-rendering: -o-crisp-edges;            /* Opera */
                image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
                -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
            }
            .icon2 {
                width: 100%;
                height: 250px;
                background-position: 8px;
                background-size: cover;
                background-image: url(/src/scss/utils/assets/desktop.PNG);
                margin: 15px 0 15px 0;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;          /* Firefox */
                image-rendering: -o-crisp-edges;            /* Opera */
                image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
                -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
            }
            .icon3 {
                width: 100%;
                height: 250px;
                background-position: 8px;
                background-size: cover;
                background-image: url(/src/scss/utils/assets/bussinessCard.png);
                margin: 15px 0 15px 0;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;          /* Firefox */
                image-rendering: -o-crisp-edges;            /* Opera */
                image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
                -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
            }
            h4 {
                font-size: 1.4rem;
                margin: 0
            }
            p {
                font-size: 1rem;
                text-align: center;
                max-width: 300px;
                color: #2c4376;
            }
        }
        .service:hover {
            -webkit-box-shadow: 0px 5px 30px -5px rgba(61,77,112,0.88);
            -moz-box-shadow: 0px 5px 30px -5px rgba(61,77,112,0.88);
            box-shadow: 0px 5px 30px -5px rgba(61,77,112,0.88);
        }
        .read__more--box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 70px;
    
            .read__more--btn {
                padding: 10px 20px 10px 20px;
                border: none;
                background: $main-color2;
                color: $txt-color;
                font-size: 18px;
                font-weight: 600;
                border-radius: 10px;
                cursor: pointer;
                outline: none;
            }
            .read__more--btn:hover {
    
                -webkit-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                -moz-box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                box-shadow: 0px 10px 20px -5px rgba(61,77,112,0.88);
                transform: translateY(-2px);
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .services__section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .services-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            padding: 0;
            width: 100%;
        }
        .service {
            margin: 10px 0 25px 0;
            height: 420px;
            padding: 0 20px 20px 20px;
            min-width: 30%;
            border-radius: 3px;
            background-color: $main-color4;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            -moz-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
    
            .icon1, .icon2, .icon3 {
                width: 100%;
                height: 225px;
                margin: 10px 0 10px 0;
                background-position: 8px -35px;
                background-size: cover;
            }

            h4 {
                font-size: 1.4rem;
                padding: 10px 0 10px 0;
            }
            p {
                font-size: 0.9rem;
                text-align: center;
                max-width: 300px;
                color: #2c4376;
            }
        }

        .read__more--box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 70px;
            margin-bottom: 20px;
    
            .read__more--btn {
                padding: 10px 20px 10px 20px;
                border: none;
                background: $main-color2;
                color: $txt-color;
                font-size: 1.3rem;
                font-weight: 600;
                border-radius: 10px;
                cursor: pointer;
                outline: none;
            }
        }
    }

}

@media only screen and (min-width: 1366px) {
    .services__section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .services-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            padding: 0;
            width: 100%;
        }
        .service {
            margin: 10px 0 25px 0;
            height: 440px;
            padding: 0 20px 20px 20px;
            min-width: 30%;
            border-radius: 3px;
            background-color: $main-color4;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            -moz-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
    
            .icon1, .icon2, .icon3 {
                width: 100%;
                height: 225px;
                margin: 10px 0 10px 0;
                background-position: 8px -35px;
                background-size: cover;
            }

            h4 {
                font-size: 1.4rem;
                padding: 10px 0 10px 0;
            }
            p {
                font-size: 0.9rem;
                text-align: center;
                max-width: 300px;
                color: #2c4376;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {
    .services__section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .services-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            padding: 0;
            width: 100%;
        }
        .service {
            margin: 10px 0 25px 0;
            height: 620px;
            padding: 0 20px 20px 20px;
            min-width: 30%;
            border-radius: 3px;
            background-color: $main-color4;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            -moz-box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
            box-shadow: 0px 5px 20px -5px rgba(61,77,112,0.88);
    
            .icon1, .icon2, .icon3 {
                width: 100%;
                height: 330px;
                margin: 10px 0 10px 0;
                background-position: 8px -35px;
                background-size: cover;
            }

            h4 {
                font-size: 1.8rem;
                padding: 10px 0 10px 0;
            }
            p {
                font-size: 1.3rem;
                text-align: center;
                max-width: 320px;
                color: #2c4376;
            }
        }
    }
}