@import './utils/vars/colors';
@import './utils/reset';
@import './utils/vars/keyframes';
@import './utils/fullSize/header--section';
@import './utils/mobile/hamburger';
@import './utils/mobile/header-section-mobile';
@import './utils/mobile/hello-section-mobile';
@import './utils/mobile/about-section-mobile';
@import './utils/mobile/content-section-mobile';
@import './utils/mobile/contact-section-mobile';
@import './utils/fullSize/content-section';
@import './utils/fullSize/projects-section';
@import './utils/fullSize/about-section';
@import './utils/fullSize/services';
@import './utils/fullSize/main--section';
@import './utils/fullSize/contact-section';
@import './utils/fullSize/privacy-section';